RewriteEngine On

# Nếu đường dẫn không phải là file hay thư mục thật
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Chuyển hướng mọi yêu cầu về index.php để xử lý
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L] 